@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-shadow: 5px white;
    
  }

  .container {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, #3df29b, #42e68a, #46d979, #48cd68, #4ac158, #3ab558, #2aa957, #199d55, #008d5d, #007d61, #006d5f, #185c58);;
    width: 45%;
    font-size: 16px;
    max-width: 90em;
    padding: 3em;
    position: relative;
    box-shadow: 0 0 3.2em rgba(0, 0, 0, 0.2);
    border-radius: 0.6em;
  }
  h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
  }
  .card{
    margin: 15px;
    max-width: 20%;
    max-height: 10%;
    box-shadow: 2px 2px 2px;

  }
  .bottomresult {
    padding-top: 40px;
    margin-top: auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1.5em;
    
  }

  
  
  
 